<section class="about section">
  <a href="#" class="anchor" id="advantages"></a>
  <div class="container">
    <p class="about__pretitle pretitle">Tradition and love</p>
    <h1 class="about__title title">How it's made?</h1>
    <div class="about__content">
      <picture class="img cow-picture">
        <source
          srcset="
            images/about/cow-desk.webp    1x,
            images/about/cow-desk-2x.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="images/about/cow-tab.webp 1x, images/about/cow-tab-2x.webp 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="images/about/cow-mob.webp 1x, images/about/cow-mob-2x.webp 2x"
          media="(min-width: 320px)"
        />
        <img
          src="images/about/cow-desk.png"
          alt="зображення корови"
          width="501"
        />
      </picture>
      <div class="about__text">
        <p class="about__bold">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__normal">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="button about-btn" type="button" data-about-modal-open>
          Watch more
          <svg class="about-btn__youtube">
            <use href="images/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<!--modal-about-->
<div class="backdrop is-hidden" data-about-modal>
  <div class="about-modal">
    <button
      type="button"
      class="about-close-btn"
      id="close_vid"
      data-about-modal-close
    >
      <svg class="icon-close-about" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close-about"></use>
      </svg>
    </button>
    <iframe
      class="about__iframe"
      src="https://youtube.com/embed/1ddNR6SZPos?enablejsapi=1"
      title="IceCreamFactory"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
