<section class="about section" id="about">
  <div class="container">
    <p class="about__pretitle pretitle">Tradition and love</p>
    <h1 class="about__title title">How it's made?</h1>
    <picture class="img cow-picture">
      <source
        srcset="images/about/cow-mob.png 1x, images/about/cow-mob-2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="images/about/cow-tab.png 1x, images/about/cow-tab-2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="images/about/cow-desk.png 1x, images/about/cow-desk-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="images/about/cow-mob.png" alt="зображення корови" width="280" />
    </picture>
    <p class="about__bold">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p class="about__normal">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt. <br />
      <br />
      Aliquam erat volutpat. Aenean accumsan.
    </p>
    <button class="button about-btn" type="button">
      Read more
      <svg class="about-btn__icon">
        <use href="images/symbol-defs.svg#icon-Vector-1"></use>
      </svg>
    </button>
  </div>
</section>
