<section class="about">
  <div class="container">
    <p class="about__pretitle pretitle">Tradition and love</p>
    <h1 class="about__title title">How it's made</h1>
    <img />
    <p class="about__bold">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p class="about__normal">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt. <br />
      Aliquam erat volutpat. Aenean accumsan.
    </p>
    <button class="button about-btn" type="button">
      Read more
      <!-- <svg class="about-btn__icon" width="4.43" height="8">
									<use
										href="src/images/symbol-defs.svg#icon-button_svg"
									></use></svg -->
    </button>
  </div>
</section>
