<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden">Advantages</h2>
    <ul class="advanteges__list list">
      <li class="advanteges__item">
        <span class="advanteges__item-count">
          721
        </span>
        <p class="advanteges__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advanteges__item">
        <span class="advanteges__item-count">
          16kg
        </span>
        <p class="advanteges__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advanteges__item">
        <span class="advanteges__item-count">
          84
        </span>
        <p class="advanteges__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
