<section class="contacts">
  <div class="container">
    <h1 class="visually-hidden">hidden</h1>
    <ul class="contacts__list list">
      <li class="contacts__card">
        <h3 class="contacts__title">cafe</h3>
        <p class="contacts__location">Chicago</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__work list">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul>
          <li>
            <a class="tel__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="mail__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__list list">
      <li class="contacts__card">
        <h3 class="contacts__title">food truck</h3>
        <p class="contacts__location">Los Angeles</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__work list">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul>
          <li>
            <a class="tel__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="mail__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__list list">
      <li class="contacts__card">
        <h3 class="contacts__title">cafe</h3>
        <p class="contacts__location">New York</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts__work list">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul>
          <li>
            <a class="tel__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="mail__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <button type="button" class="contacts__btn btn" data-modal-open>
      Our Locations
    </button>
    <button type="button" class="contacts__btn btn" data-modal-open>
      Franchise
    </button>
  </div>
</section>
