<section class="contacts" id="contacts">
  <div class="container">
    <h1 class="visually-hidden">hidden</h1>
    <ul class="contacts__list list">
      <li class="contacts__card">
        <p class="contacts__title">cafe</p>
        <div class="contacts__location">Chicago</div>
        <div class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
        <ul class="contacts__work list">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__time list">
          <li>
            <a class="tel__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="mail__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <p class="contacts__title contacts__title--special">food truck</p>
        <div class="contacts__location">Los Angeles</div>
        <div class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
        <ul class="contacts__work list">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__time list">
          <li>
            <a class="tel__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="mail__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <p class="contacts__title">cafe</p>
        <div class="contacts__location">New York</div>
        <div class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
        <ul class="contacts__work list">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__time list">
          <li>
            <a class="tel__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="mail__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__button">
      <button type="button" class="locations__btn" locations-modal-open>
        Our Locations
        <svg class="button__icon" width="8" height="16">
          <use href="images/symbol-defs.svg#icon-Vector-1"></use>
        </svg>
      </button>
      <button type="button" class="franchise__btn" franchise-modal-open>
        Franchise
        <svg class="button__icon" width="8" height="16">
          <use href="images/symbol-defs.svg#icon-Vector-1"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!--modal windows-->

<div class="backdrop is-hidden" locations-modal>
  <div class="locations-modal">
    <button type="button" class="locations-close-btn" locations-modal-close>
      <svg class="close-btn" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="locations-title">Taste now</p>
    <ul class="locations-list list">
      <li class="locations-item">
        <a
          class="locations-link link"
          href="https://goo.gl/maps/CtsjPDixrQZsP7Wj9"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >Chicago</a
        >
      </li>
      <li class="locations-item">
        <a
          class="locations-link link"
          href="https://goo.gl/maps/dvuKHNaKrBnXkXQ86"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >Los Angeles</a
        >
      </li>
      <li class="locations-item">
        <a
          class="locations-link link"
          href="https://goo.gl/maps/6WFamfhr5zxUGvQZ7"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >New York</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="backdrop is-hidden" franchise-modal>
  <div class="franchise-modal">
    <button type="button" class="franchise-close-btn" franchise-modal-close>
      <svg class="close-btn" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="franchise-title">Do you dream about your own cafe?</p>
    <div class="subscription">
      <p class="subscription__text">Ask us about franchise</p>
      <form class="subscription__details">
        <input
          class="subscription__input"
          type="email"
          name="email"
          placeholder="E-mail"
        />
        <button class="subscription__btn btn" type="submit">Now</button>
      </form>
    </div>
  </div>
</div>
