<footer class="footer">
  <div class="container">
    <p class="section__label">homemade ice cream made</p>
    <h2 class="section__header">with passion</h2>
    <ul class="social-list">
      <li class="social-list__item">
        <a class="social-list__href" href="">
          <svg class="social-list__icon" width="32" height="32">
            <use href="images/symbol-defs.svg#icon-github" />
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a class="social-list__href" href="">
          <svg class="social-list__icon" width="32" height="32">
            <use href="images/symbol-defs.svg#icon-telegram" />
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a class="social-list__href" href="">
          <svg class="social-list__icon" width="32" height="32">
            <use href="images/symbol-defs.svg#icon-facebook" />
          </svg>
        </a>
      </li>
    </ul>
    <a href="" class="link-tel">
      <span class="link-tel__text">Feel free to contact</span> +61 (0) 383 766
      284</a
    >
    <p class="copy">© 2022 - IceCream. All Rights Reserved.</p>
    right
  </div>
</footer>
