<footer class="section section--footer">
  <div class="container">
    <div class="footer">
      <div class="footer__moto">
        <p class="footer__label">homemade ice cream made</p>
        <h2 class="footer__header">with passion</h2>
      </div>
      <div class="footer__contacts">
        <ul class="social-list">
          <li class="social-list__item">
            <a
              class="social-list__href"
              href="https://github.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list__icon">
                <use href="images/symbol-defs.svg#icon-github" />
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              class="social-list__href"
              href="https://t.me/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list__icon">
                <use href="images/symbol-defs.svg#icon-telegram" />
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              class="social-list__href"
              href="https://facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list__icon">
                <use href="images/symbol-defs.svg#icon-facebook" />
              </svg>
            </a>
          </li>
        </ul>
        <a href="tel:+610383766284" class="link-tel">
          <span class="link-tel__text">Feel free to contact</span> +61 (0) 383
          766 284</a
        >
      </div>
    </div>
    <div class="text-align-center">
      <p class="copyright">
        © 2022 - IceCream. <br />
        All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
