<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture class="img gallery-picture">
      <source
        srcset="
          images/gallery/desk/Group-desk.webp    1x,
          images/gallery/desk/Group-desk-2x.webp 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/gallery/tab/Group-tab.webp    1x,
          images/gallery/tab/Group-tab-2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          images/gallery/mob/Group-mob.webp    1x,
          images/gallery/mob/Group-mob-2x.webp 2x
        "
        media="(min-width: 320px)"
      />
      <img
        src="images/gallery/mob/Group-mob.png"
        alt="фото щасливих клієнтів та продукції"
        width="1013"
      />
    </picture>
  </div>
</section>
