<section class="gallery">
  <div class="container">
    <picture class="img gallery-picture">
      <source
        srcset="
          images/gallery/mob/Group-mob.png    1x,
          images/gallery/mob/Group-mob-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/gallery/tab/Group-tab.png    1x,
          images/gallery/tab/Group-tab-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          images/gallery/desk/Group-desk.png    1x,
          images/gallery/desk/Group-desk-2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <img
        src="images/gallery/mob/Group-mob.png"
        alt="фото щасливих клієнтів та продукції"
        width="320"
      />
    </picture>
  </div>
</section>
