<header class="header" id="header">
  <!-- <div class="container"> -->
    <div class="header-nav">
      <a href="#" class="header--logo">
        <picture>
          <source
            srcset="
              images/header/logo-desk.png    1x,
              images/header/logo-desk-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/header/logo-tab.png    1x,
              images/header/logo-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/header/logo-mob.png    1x,
              images/header/logo-mob-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="img"
            src="images/header/logo-mob.png"
            alt="logo"
            width="199"
          />
        </picture>
      </a>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#hero" class="menu__link current">Home</a>
        </li>
        <li class="menu__item">
          <a href="#products" class="menu__link">Our products</a>
        </li>
        <li class="menu__item">
          <a href="#advantages" class="menu__link">How its made?</a>
        </li>
        <li class="menu__item">
          <a href="#about" class="menu__link">About us</a>
        </li>
        <li class="menu__item">
          <a href="#contacts" class="menu__link">Contact</a>
        </li>
      </ul>

      <button type="button" class="mob-open-btn">
        <svg width="20" height="12">
          <use
            class="icon-open"
            href="images/symbol-defs.svg#icon-Burger"
          ></use>
        </svg>
      </button>
      <button data-modal-open1 class="buy-btn" type="button">
        Buy now<svg class="input-icon-arrow-right" width="15" height="15">
          <use href="images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile-menu is-hidden">
    <div class="mob-container">
      <button type="button" class="mob-close-btn">
        <svg class="mob-menu__close-btn" width="14" height="14">
          <use href="images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <button data-modal-open2 type="button" class="buy-modal-open">
        Buy now
        <svg class="input-icon-arrow-right" width="15" height="15">
          <use href="images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <ul class="mob-menu__list">
        <li class="mob-menu__item">
          <div class="style-line"></div>
          <a href="#hero" class="mob-menu__link current">Home</a>
        </li>

        <li class="mob-menu__item">
          <div class="style-line"></div>
          <a href="#products" class="mob-menu__link">Our products</a>
        </li>

        <li class="mob-menu__item">
          <div class="style-line"></div>
          <a href="#advantages" class="mob-menu__link">How its made?</a>
        </li>

        <li class="mob-menu__item">
          <div class="style-line"></div>
          <a href="#about" class="mob-menu__link">About us</a>
        </li>

        <li class="mob-menu__item">
          <div class="style-line"></div>
          <a href="#contacts" class="mob-menu__link">Contact</a>
          <div class="style-line"></div>
        </li>
      </ul>
    </div>
  </div>

  <div class="buy-backdrop modal-is-hidden" data-modal-buy>
    <div class="buy-modal">
      <button type="button" class="buy-close-btn" data-modal-close>
        <svg class="close-btn-icon" width="25" height="25">
          <use href="images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <form>
      <ul class="buy-modal__list list">
        <li class="buy-modal__items">
          <picture>
        <source
              srcset="/src/images/products/desk/icecoffee-desk.png 1x,
                /src/images/products/desk/icecoffee-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /src/images/products/tab/icecoffee-tab.png    1x,
                /src/images/products/tab/icecoffee-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/products/mob/icecoffee-mob.png    1x,
                /src/images/products/mob/icecoffee-mob.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="buy-modal__img"
              src="/src/images/products/desk/icecoffee-desk.png"
              alt="Icecoffee"
              width="100"
              height="100"
            />
      </picture>
      <p class="buy-modal__text">icecoffee</p>
      <label class="buy-modal__label">
        <input class="buy-modal__input-checkbox" type="checkbox" name="menu-iteam" value="icecoffee">
      </label>
    </li>
        <li class="buy-modal__items">
          <picture>
        <source
              srcset="/src/images/products/desk/icecream-desk.png 1x,
                /src/images/products/desk/icecream-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /src/images/products/tab/icecream-tab.png    1x,
                /src/images/products/tab/icecream-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/products/mob/icecream-mob.png    1x,
                /src/images/products/mob/icecream-mob.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="buy-modal__img"
              src="/src/images/products/desk/icecream-desk.png"
              alt="Icecoffee"
              width="100"
              height="100"
            />
      </picture>
      <p class="buy-modal__text">icecream</p> 
      <label class="buy-modal__label">
        <input class="buy-modal__input-checkbox" type="checkbox" name="menu-iteam" value="icecream">
      </label>
        </li>
        <li class="buy-modal__items">
          <picture>
        <source
              srcset="/src/images/products/desk/milkshake-desk.png 1x,
                /src/images/products/desk/milkshake-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /src/images/products/tab/milkshake-tab.png    1x,
                /src/images/products/tab/milkshake-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/products/mob/milkshake-mob.png    1x,
                /src/images/products/mob/milkshake-mob.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="buy-modal__img"
              src="/src/images/products/desk/milkshake-desk.png"
              alt="Icecoffee"
              width="100"
              height="100"
            />
      </picture>
      <p class="buy-modal__text">milkshake</p>
      <label class="buy-modal__label">
        <input class="buy-modal__input-checkbox" type="checkbox" name="menu-iteam" value="milkshake">
      </label>
        </li>
      </ul>
      <div class="buy-modal__btn-wrap">
            <button type="submit" class="buy-modal__btn">Buy</button>
      </div>
      </form>
    </div>
  </div>
</header>
