<section class="hero">
  <div class="container hero__container">
    <picture>
      <source srcset="images/hero/desk/icecream-desk.png 1x, images/hero/desk/icecream-desk-2x.png 2x"
        media="(min-width: 1200px)" />
      <source srcset="images/hero/tab/icecream-tab.png 1x, images/hero/tab/icecream-tab-2x.png 2x"
        media="(min-width: 768px)" />
      <source srcset="images/hero/mob/icecream-mob.png 1x, images/hero/mob/icecream-mob-2x.png 2x"
        media="(min-width: 320px)" />
      <img class="hero__image" src="images/hero/mob/icecream-mob.png" alt="ice cream" width="171" height="410">
    </picture>
    <picture>
      <source srcset="images/hero/desk/girl-desk.png 1x, images/hero/desk/girl-desk-2x.png 2x"
        media="(min-width: 1200px)" />
      <source srcset="images/hero/tab/girl-tab.png 1x, images/hero/tab/girl-tab-2x.png 2x" media="(min-width: 768px)" />
      <img class="hero__image-girl" src="images/hero/tab/girl-tab.png" alt="ice cream" width="190" height="150">
    </picture>
    <div class="hero__elipse"></div>
    <h1 class="hero__title">ice cream made with <span class="hero__title--accent">passion</span> </h1>
    <a href="#products" class="hero__link">Products</a>
    <a href="#about" class="hero__link hero__link--reserve">How it&#39;s made?</a>
    <div class="about-short">
      <picture class="about-short__image">
        <source srcset="images/hero/desk/milk-desk.png 1x, images/hero/desk/milk-desk-2x.png 2x"
          media="(min-width: 1200px)" />
        <source srcset="images/hero/tab/milk-tab.png 1x, images/hero/tab/milk-tab-2x.png 2x"
          media="(min-width: 768px)" />
        <img class="hero__image-milk" src="images/hero/tab/milk-tab.png" alt="ice cream">
      </picture>
      <div class="about-short__wrap">
        <p class="about-short__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et</p>
        <button class="about-short__btn" type="button">
          <svg class="about-short__icon">
            <use href="images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>

  </div>
</section>