<section class="hero">
  <div class="container">
    <div class="hero__elipse"></div>
    <img class="hero__image" src="/src/images/hero/mob/icecream-mob.png" alt="ice cream" width="171" height="410">
    <h1 class="hero__title">ice cream made with <span class="hero__title--accent">passion</span> </h1>
    <button class="btn" type="button" data-modal-open>
      Products</button>
    <button class="btn btn--reverce" type="button" data-modal-open>
      How it&#39;s made?</button>
  </div>
  </div>
</section>