<section class="products">
  <div class="container">
    <!-- <label for="products-feature" class="products__feature">100% natural</label> -->
    <p class="products__feature">100% natural</p>
    <h2 id="products-feature" class="products__title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item products__ice-cream">
        <!-- <div class="products__ice-cream__box"> -->
        <h3 class="products-list__title">ice cream</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-list__button">
          <svg width="12" height="12" class="products-list_button-icon">
            <use href="images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <!-- </div> -->
      </li>

      <li class="products-list__item products__ice-coffee">
        <!-- <div class="products__ice-coffee__box"> -->
        <h3 class="products-list__title">ice coffee</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-list__button">
          <svg width="12" height="12" class="products-list_button-icon">
            <use href="images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <!-- </div> -->
      </li>

      <li class="products-list__item products__milkshakes">
        <!-- <div class="products__milkshakes__box"> -->
        <h3 class="products-list__title">milkshakes</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-list__button">
          <svg width="12" height="12" class="products-list_button-icon">
            <use href="images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <!-- </div> -->
      </li>
    </ul>
  </div>
</section>
