<section class="products" id="products">
  <div class="container">
    <p class="products__feature">100% natural</p>
    <h2 id="products-feature" class="products__title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item products__ice-cream">
        <div class="products-list__overlay">
        <h3 class="products-list__title">ice cream</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
        </p>
        <button type="button" class="products-list__button">
          <svg width="12" height="12" class="products-list_button-icon">
            <use href="images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <p class="products-list__overlay-text products-list__overlay-icecream">Ice cream is a sweetened frozen food typically eaten as a snack or dessert.</p>
        </div>
      </li>
      <li class="products-list__item products__ice-coffee">
        <div class="products-list__overlay">
        <h3 class="products-list__title">ice coffee</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
        </p>
        <button type="button" class="products-list__button">
          <svg width="12" height="12" class="products-list_button-icon">
            <use href="images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <p class="products-list__overlay-text products-list__overlay-ice-coffee">Iced coffee is a coffee beverage served cold. It can also be sweetened.</p>
        </div>
      </li>

      <li class="products-list__item products__milkshakes">
        <div class="products-list__overlay">
        <h3 class="products-list__title">milkshakes</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
        </p>
        <button type="button" class="products-list__button">
          <svg width="12" height="12" class="products-list_button-icon">
            <use href="images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <p class="products-list__overlay-text products-list__overlay-milkshake">A milkshake is a sweet beverage made by blending milk, ice cream, and flavorings.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
