<section class="reviews reviews--margin">
  <div class="container">
    <div class="slider">
      <div class="reviews__card">
        <div class="reviews__img-wrap">
        <picture>
          <source
            srcset="
              /src/images/reviews/miha.jpg    1x,
              /src/images/reviews/miha-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/reviews/miha.jpg    1x,
              /src/images/reviews/miha-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/reviews/miha.jpg    1x,
              /src/images/reviews/miha-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="reviews__img"
            src="/src/images/reviews/miha.jpg"
            alt="Игорь"
            width="85"
            height="85"
          />
        </picture>
        </div>
        <div class="reviews__text-wrap icon-quote">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="reviews__ellipse-wrap">
        <svg class="reviews__elipse-red" width="4" height="4">
          <use href="/src/images/symbol-defs.svg#icon-Ellipse-red"></use>
        </svg>
        <svg class="reviews__elipse-red" width="4" height="4">
          <use href="/src/images/symbol-defs.svg#icon-Ellipse-red"></use>
        </svg>
        <svg class="reviews__elipse-red" width="4" height="4">
          <use href="/src/images/symbol-defs.svg#icon-Ellipse-red"></use>
        </svg>
        </div>
        <p class="reviews__text-name">Mihail, Los Angeles</p>
      </div>
      <div class="reviews__card">
        <div class="reviews__img-wrap">
        <picture>
          <source
            srcset="
              /src/images/reviews/nikolay.jpg    1x,
              /src/images/reviews/nikolay-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/reviews/nikolay.jpg    1x,
              /src/images/reviews/nikolay-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/reviews/nikolay.jpg    1x,
              /src/images/reviews/nikolay-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="reviews__img"
            src="/src/images/reviews/nikolay.jpg"
            alt="Игорь"
            width="85"
            height="85"
          />
        </picture>
        </div>
        <div class="reviews__text-wrap icon-quote">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="reviews__ellipse-wrap">
        <svg class="reviews__elipse-red" width="4" height="4">
          <use href="/src/images/symbol-defs.svg#icon-Ellipse-red"></use>
        </svg>
        <svg class="reviews__elipse-red" width="4" height="4">
          <use href="/src/images/symbol-defs.svg#icon-Ellipse-red"></use>
        </svg>
        <svg class="reviews__elipse-red" width="4" height="4">
          <use href="/src/images/symbol-defs.svg#icon-Ellipse-red"></use>
          </div>
        <p class="reviews__text-name">Nikolay, Sacramento</p>
      </div>
      <div class="reviews__card">
        <div class="reviews__img-wrap">
        <picture>
          <source
            srcset="
              /src/images/reviews/olha.jpg    1x,
              /src/images/reviews/olha-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/reviews/olha.jpg    1x,
              /src/images/reviews/olha-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/reviews/olha.jpg    1x,
              /src/images/reviews/olha-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="reviews__img"
            src="/src/images/reviews/olha.jpg"
            alt="Игорь"
            width="85"
            height="85"
          />
        </picture>
        </div>
        <div class="reviews__text-wrap icon-quote">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="reviews__ellipse-wrap">
        <svg class="reviews__elipse-red" width="4" height="4">
          <use href="/src/images/symbol-defs.svg#icon-Ellipse-red"></use>
        </svg>
        <svg class="reviews__elipse-red" width="4" height="4">
          <use href="/src/images/symbol-defs.svg#icon-Ellipse-red"></use>
        </svg>
        <svg class="reviews__elipse-red" width="4" height="4">
          <use href="/src/images/symbol-defs.svg#icon-Ellipse-red"></use>
          </div>
        <p class="reviews__text-name">Olha, Chicago</p>
      </div>
    </div>
  </div>
</section>
