.about {
  background-color: var(--bg-main-color);
  background-image: url('../images/about/IceCream-(mob)/sectionbg.png');
  // @include retina {
  //   background-image: url('../images/about/IceCream-(mob)/sectionbg-2x.png');
  // }
  background-repeat: no-repeat;
  background-position: 44% 70%;
  background-size: auto;
}
.about__pretitle {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-secondary-color);
  display: block;
  padding-bottom: 15px;
  margin: 0 auto;
}
.about__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 200px;
  color: var(--accent-main-color);
  display: block;
  padding-bottom: 32px;
  margin: 0 auto;
}
.cow-picture {
  margin-bottom: 40px;
}
.about__bold {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--text-secondary-color);
  width: 220px;
  display: block;
  margin-bottom: 30px;
}
.about__normal {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--text-casual-color);
  width: 220px;
  margin-bottom: 21px;
}
.about-btn {
  cursor: pointer;
  border-style: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  font-family: 'DM Sans';
  display: flex;
  text-align: center;
  width: 176px;
  height: 44px;
  align-items: center;
  padding: 17px 37px;
  color: var(--accent-main-color);
  background: var(--bg-secondary-color);
  stroke: var(--accent-main-color);
  transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--text-main-color);
    background: var(--accent-main-color);
    stroke: var(--text-main-color);
  }
}
.about-btn__icon {
  margin-left: 14px;
  display: inline-block;
  width: 8px;
  height: 16px;
  stroke: var(--accent-main-color);
  transition: fill 250ms var(--timing-function);
  &:hover,
  &:focus {
    stroke: var(--text-main-color);
  }
}
