.about {
  @extend .section;
  background-color: var(--bg-main-color);
}
.about .container {
  background-image: url('../images/about/IceCream-(mob)/sectionbg.png');
  @include retina {
    background-image: url('../images/about/IceCream-(mob)/sectionbg-2x.png');
  }
  background-repeat: no-repeat;
  background-position: 46% 75%;
  background-size: 280px 133px;
  @media screen and (min-width: $tablet) {
    padding: 0 34px;
    margin: 0 auto;
    min-width: 768px;
    background-image: none;
  }
}
.about__content {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.about__pretitle {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-secondary-color);
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 1.15;
  }
}
.about__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 200px;
  color: var(--accent-main-color);
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  @media screen and (min-width: $tablet) {
    font-size: 48px;
    width: 496px;
    margin-bottom: 40px;
  }
}

.cow-picture {
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    margin-right: 32px;
  }
}
.about__bold {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--text-secondary-color);
  width: 220px;
  display: block;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) {
    width: 334px;
    font-size: 14px;
  }
}
.about__normal {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--text-casual-color);
  width: 220px;
  margin-bottom: 21px;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
}
.about-btn {
  cursor: pointer;
  border-style: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  font-family: 'DM Sans';
  display: flex;
  text-align: center;
  width: 176px;
  height: 44px;
  align-items: center;
  padding: 17px 37px;
  color: var(--accent-main-color);
  background: var(--bg-secondary-color);
  stroke: var(--accent-main-color);
  transition: color 250ms var(--timing-function),
    stroke 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--text-main-color);
    background: var(--accent-main-color);
    stroke: var(--text-main-color);
  }
}
.about-btn__icon {
  margin-left: 14px;
  display: inline-block;
  width: 8px;
  height: 16px;
  --arrow-color: currentColor;
}
