.advanteges__item-count {
    font-family: 'Titan One';
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
color: #D41443;
}

.advanteges__item-text {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    color: #000000;
}

