// .contacts {
// }
// .container {
// }
// .visually-hidden {
// }
// .contacts__list {
// }
.list {
  list-style: none;
}
// .contacts__card {
// }
.contacts__title {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: var(--bg-yellow-color);
  color: var(--text-main-color);
  border-radius: 4px;
  width: 80px;
  height: 16px;
  text-align: center;
}
.contacts__location {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--text-secondary-color);
}
.contacts__text {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--text-casual-color);
}
// .contacts__work {
// }
.contacts__days {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  text-align: left;
  color: var(--text-secondary-color);
}
.contacts__time {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  text-align: left;
  color: var(--accent-secondary-color);
}
.tel__link {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: var(--text-casual-color);
}
// .link {
// }
.mail__link {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: var(--text-casual-color);
}
.locations__btn {
  height: 44px;
  width: 161.45px;
  border-radius: 22px;
  color: var(--text-main-color);
  background-color: var(--accent-main-color);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.franchise__btn {
  height: 44px;
  width: 161px;
  border-radius: 22px;
  color: var(--accent-main-color);
  background-color: var(--bg-secondary-color);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}
// .btn {
// }
