.gallery .container {
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

.gallery {
  background: linear-gradient(
    to bottom,
    var(--bg-main-color) 15%,
    var(--bg-secondary-color) 85%
  );
}
