.gallery .container {
  padding: 0;
  @media screen and (min-width: $desktop) {
    padding-right: 94px;
    padding-left: 94px;
  }
}

.gallery {
  padding: 0 0 60px 0;
  background: linear-gradient(
    to bottom,
    var(--bg-main-color) 0 13%,
    var(--bg-secondary-color) 14% 100%
  );
  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    background: linear-gradient(
      to bottom,
      var(--bg-main-color) 0 54%,
      var(--bg-secondary-color) 55% 100%
    );
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 120px;
    background: linear-gradient(
      to bottom,
      var(--bg-main-color) 0 23%,
      var(--bg-secondary-color) 24% 100%
    );
  }
}
