.header {
    position: absolute;
    background-color: transparent;
}

.header-mob-nav{
    position: relative;
    display: flex;
 }
.header--logo {
padding-top: 8px;
margin-right: 61px;
}

.header__list {
    display: none;
   /* @media screen and (min-width: $desktop) {
     display: flex;
     align-items: center;
     margin-left: auto;
     align-items: center;
     justify-content: center;
     list-style: none;
     margin: 0;
     padding: 0;
    }*/
    
}

.menu__link {
    display: inline-block;
    text-decoration: none;
    padding: 15px 0;
    color: inherit;
}
.mob-open-btn {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
    border: none;
    background-color: transparent;
}

.mobile-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:var(--bg-modal-color);
    width: 100vw;
    height: 100vh;
    
    .mob-container{
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-right: 20px;
      overflow-y: scroll;
      position: relative;
    }
}


.mob-close-btn {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
    left: 20px;
    margin-bottom: 26px;
    border: none;
    background-color: transparent;
}
.header-mob-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 22px;
  padding: 10px 28px;
  border: 1px transparent;
  width: 209px;
  height: 44px;
  margin-left: 20px;
  margin-right: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color:var( --accent-main-color);
  
}
.input-icon-arrow-right {
    margin-left: 16px;
    fill:var(--accent-main-color)
}
.mob-menu__list {
    list-style: none;
    margin-left: 20px;
    padding: 0;
}
.mob-menu__item {
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: calc(18 / 14);
display: flex;
align-items: center;
color:var(--text-main-color);
}


.mob-menu__link {
  display: inline-block;
  text-decoration: none;
  padding: 15px 0;
  color: inherit;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

