.products {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.products__feature {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;

  display: block;
  margin-bottom: 15px;
}

.products__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  margin-bottom: 8px;
}

.products-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.products-list__item {
  border-radius: 24px;
  height: 489px;
  width: 100%;
  padding-top: 160px;
  padding-left: 40px;
  padding-right: 40px;
}


.products__ice-cream {
  background-color: #ffb8ca;
}

.products__ice-cream::before {
  content: "";
  display: block;
  background-image: url('../images/products/mob/icecream-mob.png');
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: top 50%;
  //width: 280px;
  //height: 280px;
  //transform: translate(-100%);  
}


.products__ice-coffee {
  background-color: #f0d1a5;
}

.products__ice-coffee__box::before {
  content: '';
  display: inline-block;
  background-image: url('../images/products/mob/icecoffee-mob.png');
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  transform: translateY(50%);  
  
}

.products__milkshakes {
  background-color: #c2e297;
}

.products__milkshakes__box::before {
  content: '';
  display: inline-block;
  background-image: url('../images/products/mob/milkshake-mob.png');
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  transform: translateY(50%);  
  
}

.products-list__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 70px;
}

.products-list__text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  margin-bottom: 32px;
}

.products-list__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list_button-icon {
  fill: #d41443;
}
