.products {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.products__feature {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-secondary-color);

  display: block;
  margin-bottom: 15px;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.15;
  }
}

.products__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-main-color);
  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 18px;
    font-size: 48px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 16px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.products-list {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: $tablet) {
    gap: 16px;
    padding: 0 16px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
    padding: 0;
  }
}

.products-list__item {
  margin-top: 140px;
  width: 100%;
  height: 489px;
  border-radius: 24px;
  padding: 160px 40px 40px 40px;
  &::before {
    position: absolute;
    top: -140px;
    left: 0;
    display: block;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
    width: 100%;
  }
  transition: box-shadow 250ms var(--timing-function);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: $tablet) {
    padding: 118px 32px 40px 32px;
    width: calc((100% - 16px) / 3);
    height: 473px;
  }

  @media screen and (min-width: $desktop) {
    padding: 165px 63px 60px 63px;
    margin-top: 261px;
    width: calc((100% - 32px) / 3);
    height: 535px;
  }
}

.products__ice-cream {
  position: relative;
  background-color: var(--bg-pink-color);
  &::before {
    background-image: url('../images/products/mob/icecream-mob.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/mob/icecream-mob-2x.png');
    }

    @media screen and (min-width: $tablet) {
      width: 224px;
      height: 224px;
      top: -138px;
      background-image: url('../images/products/tab/icecream-tab.png');
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/tab/icecream-tab-2x.png');
      }
    }

    @media screen and (min-width: $desktop) {
      width: 368px;
      height: 394px;
      top: -261px;
      background-image: url('../images/products/desk/icecream-desk.png');
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/desk/icecream-desk-2x.png');
      }
    }
  }
}

.products__ice-coffee {
  background-color: var(--bg-yellow-color);
  position: relative;
  &::before {
    background-image: url('../images/products/mob/icecoffee-mob.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/mob/icecoffee-mob-2x.png');
    }
    @media screen and (min-width: $tablet) {
      width: 224px;
      height: 224px;
      top: -138px;
      background-image: url('../images/products/tab/icecoffee-tab.png');
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/tab/icecoffee-tab-2x.png');
      }
    }

    @media screen and (min-width: $desktop) {
      width: 368px;
      height: 394px;
      top: -261px;
      background-image: url('../images/products/desk/icecoffee-desk.png');
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/desk/icecoffee-desk-2x.png');
      }
    }
  }
}

.products__milkshakes {
  background-color: var(--bg-green-color);
  position: relative;
  &::before {
    background-image: url('../images/products/mob/milkshake-mob.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/mob/milkshake-mob-2x.png');
    }
    @media screen and (min-width: $tablet) {
      width: 224px;
      height: 224px;
      top: -138px;
      background-image: url('../images/products/tab/milkshake-tab.png');
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/tab/milkshake-tab-2x.png');
      }
    }

    @media screen and (min-width: $desktop) {
      width: 368px;
      height: 394px;
      top: -261px;
      background-image: url('../images/products/desk/milkshake-desk.png');
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/products/desk/milkshake-desk-2x.png');
      }
    }
  }
}

.products-list__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-main-color);

  margin-bottom: 70px;
  position: relative;
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
  &::after {
    content: '';
    display: block;
    width: 26px;
    height: 6px;
    background-image: url('../images/products/circles.png');
    background-size: contain;
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/circles-2x.png');
    }
  }
}

.products-list__text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-main-color);
  margin-bottom: 50px;

  @media screen and (min-width: $tablet) {
    line-height: 1.76;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.products-list__button {
  margin: 0 auto;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-main-color);
  transition: background-color 250ms var(--timing-function);
  z-index: 1;
  position: relative;
  &:hover,
  &:focus {
    background-color: var(--accent-main-color);
    color: #ffffff;
  }
}

.products-list_button-icon {
  fill: currentColor;
}

.products-list__overlay {
  position: relative;
  overflow: hidden;
}

.products-list__overlay-text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 40px 15px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  color: var(--bg-main-color);
  transform: translateY(-101%);
  transition: transform 250ms var(--timing-function);
}

.products-list__button:hover + .products-list__overlay-text,
.pproducts-list__button:focus + .products-list__overlay-text {
  transform: translateY(0);
}

.products-list__overlay-icecream {
  background-color: #f88ca5;
}

.products-list__overlay-ice-coffee {
  background-color: #e8c086;
}

.products-list__overlay-milkshake {
  background-color: #acd17b;
}
