.reviews--margin {
  margin-top: 60px;
  margin-bottom: 60px;
}
.reviews__img {
  border-radius: 50%;
  margin-bottom: 32px;
  margin-left: 35%;
}
.reviews__text-wrap {
  max-width: 320px;
  height: auto;
  background-color: #fafafa;
  padding: 43px 60px 23px;
  text-align: center;
  margin-bottom: 16px;
}
.reviews__text {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  color: #000000;
  background-image: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 29px,
    #e1e1e1 30px
  );
}
.elipse-red {
  fill: red;
}
.ellipse-red-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.elipse-red:not(:last-child) {
  margin-right: 10px;
}
.reviews__text-name {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}
.icon-quote {
  background-image: url('/src/images/reviews/quote.svg');
  background-repeat: no-repeat;
  background-position: 22% 12%;
}
.slider {
  position: relative;
}
.slider.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}
